# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/
.history/

# =========================
# LOG FILES
# =========================
*.log
logs/

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.*
*.pem
*.key

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# TERRAFORM
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================
# DOCKER
# =========================
docker-data/
*.tar

# =========================
# KUBERNETES
# =========================
kubeconfig.yaml

# =========================
# AWS
# =========================
.aws/
credentials

# =========================
# ANSIBLE
# =========================
*.retry

# =========================
# JENKINS
# =========================
jenkins_home/

# =========================
# GRAFANA / PROMETHEUS
# =========================
grafana-data/
prometheus-data/

# =========================
# ARCHIVES
# =========================
*.zip
*.tar.gz
*.rar

# =========================
# TEMP FILES
# =========================
tmp/
temp/
*.tmp

# =========================
# IDE FILES
# =========================
.idea/
*.swp
*.swo